<p>login</p>
<form #formLogin="ngForm">
<label>username:</label> 
<input type="text" name="username" [(ngModel)]="login.username" 
pattern="[A-Za-z][a-z1-9]+"
required /> <br/>

<label>password:</label> 
<input type="text" name="password" pattern=".{4,32}"
      [(ngModel)]="login.password" required /> <br/>

<label>roles:</label> 
<input type="text" name="roles" pattern="[a-z]+"
       [(ngModel)]="login.roles" required /> <br/>

<input type="button" value="login" (click)="onLogin()"
       [disabled]="!formLogin.form.valid" />
</form>
message={{message}} <br/>