<p>login</p>
<form #formLogin="ngForm" class="form-horizontal">
<bsu-my-fg-label label="username">
         <input type="text" class="form-control" name="username" [(ngModel)]="login.username" 
          pattern="[A-Za-z][a-z1-9]+"   required />
</bsu-my-fg-label>
<div class="row form-group">
      <label class="control-label col-sm-3">password:</label> 
      <div class="col-sm-9">
       <input type="text" class="form-control" name="password" pattern=".{4,32}"
            [(ngModel)]="login.password" required /> 
      </div>
</div>
<div class="row form-group">
      <label class="control-label col-sm-3">roles:</label> 
      <div class="col-sm-9">
      <input type="text" class="form-control" name="roles" pattern="[a-z,]+"
            [(ngModel)]="login.roles" required /> 
      </div>
</div>
<div class="row form-group">
      <div class="offset-sm-3 col-sm-9">
         <input type="button" class="btn btn-primary" value="login" (click)="onLogin()"
            [disabled]="!formLogin.form.valid" />
      </div>
</div>
</form>
message={{message | uppercase }} <br/>
<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>