<!-- <div [style.backgroundColor]="preferencesService.couleurFondPreferee"> -->
        <div [style.backgroundColor]="couleurFondPreferee">
    {{titre}}
<a routerLink="/welcome" routerLinkActive="active-link">welcome</a> &nbsp;
<a routerLink="/login" routerLinkActive="active-link">login</a> &nbsp;
<a routerLink="/basic" routerLinkActive="active-link">basic</a> &nbsp;
<a routerLink="/conversion" routerLinkActive="active-link">conversion</a> &nbsp;
<a routerLink="/admin-prod" routerLinkActive="active-link">admin-prod</a> &nbsp;
<a routerLink="/chat" routerLinkActive="active-link">chat</a> &nbsp;
</div>

<bsu-nav-bar  [menuDefs]="myMenuDefs"></bsu-nav-bar>

<!-- .active-link { font-weight: bold; text-decoration: underline;} dans src/styles.scss -->