<p>conversion de devise</p>
montant : <input type="text" [(ngModel)]="montant" /> <br/>
monnaieSource: <select [(ngModel)]="codeDeviseSource">
    <option *ngFor="let d of listeDevises" >{{d.code}}</option>
</select> <br/>

monnaieCible: <select [(ngModel)]="codeDeviseCible">
        <option *ngFor="let d of listeDevises" >{{d.code}}</option>
    </select> <br/>
<input type="button" value="convertir" (click)="onConvertir()" /> <br/>
somme convertie : {{montantConverti}}
<hr/>
<table border="1">
    <tr *ngFor="let d of listeDevises">
        <td>{{d.code}}</td><td>{{d.name}}</td><td>{{d.change}}</td>
    </tr>
</table>

